body{
    background-color: $very-dark-blue;
}

.login-contenedor{
    width: 360px;
    height: 550px;
    background-color: $white;
    border-radius: 20px;

    h1{
        font-size: 30px;
    }
}
span{
    color: $very-dark-blue-50
}
span:hover{
    color: $very-dark-blue;
}