.contenedor-footer{
    border-top: 1px solid $black-50;
    .text-footer{
        cursor: auto;
    }
    .link{
        cursor: pointer;
        color: $very-dark-blue-50;
        text-decoration: none;
    }
    .link:hover{
        color: $very-dark-blue;
    }
}