form {
  .form-control {
    background-color: $light-grayish-pink;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 270px;
    height: 45px;
    color: $black-50;
  }
  .form-control:focus{
    border: 2px solid $black;
    box-shadow: none;
    font-weight: normal;
  }
  .btn {
    width: 270px;
    height: 45px;
    background: $very-dark-blue-50;
    color: $white;
    border: none;
    border-radius: 10px;
  }
  .btn:hover {
    background-color: $very-dark-blue;
    color: $white;
  }
}
