$white: #FFFF;
$light-grayish-pink: #F5F3F4;
$very-dark-blue: #012A4A;
$very-dark-vlue-70: #012b4bb3;
$very-dark-blue-50: #012b4b80;
$very-dark-blue-40: #012b4b66;
$black: #000000;
$black-50: #00000080;
$lime-green: #388659;
$strong-red: #BA181B;
